.hidden {
    display: none;
}
body{
    background-color: brown;
}
input[type=text] {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #25d6bf;
    margin: 10px;
    background-color: black;
    color: white;
}
.logo {
    float: left;
    width: 120px; 
    height: 120px;
    padding: 14px 100px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
li {
    display: inline;
}

#navbarr {
    margin: 5px 50px;
}
.navbar {
    top: 5px;
    float: right;
}
.navbar a {
    text-decoration: none;
    font-family: 'Gill Sans', sans-serif;
    color: #FEFCAD;
    text-align: center;
    padding: 14px 14px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  
.navbar a:hover {
    padding: 35px;
    border-bottom: 2px solid red;
    font: 1.2em;
    font-weight: bolder;
    background-color: red;
  }
input[type=text]:focus {
    outline: none;
}

input[type=text]::placeholder {
    color: white;
}

input[type=file] {
    margin: 20px;
    color: white;
}

input[type=submit] {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background-color: black);
    color: white;
    transition: 300ms;
    cursor: pointer;
    margin: 20px;
}

input[type=submit]:hover {
    background-color: #25d6bf;
}

.messages {
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.messages table {
    border-collapse: collapse;
    border: 1px solid white;
}

.messages table tr, th, td {
    padding: 10px;
}

.message {
    word-break: break-all;
}

@media screen and (max-width: 416px) {
    input[type=text] {
        width: 300px;
    }
}