body, html {
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: rgba(213, 206, 206, 0.435);

}

header {
    padding: 15px 20px;
}
.bg-img {
    background-image: url("../images/gr2.jpg");
    background-image: -webkit-linear-gradient(right, 
    rgba(0, 0, 0, 0.9) 0%, 
    rgba(0,0,0,0) 20%,
    rgba(0,0,0,0) 80%,
    rgba(0, 0, 0, 0.9) 100%
  ),
  url(../images/gr2.jpg);

    height: 740px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }

.logo {
    float: left;
    width: 120px; 
    height: 120px;
    padding: 14px 100px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
li {
    display: inline;
}

#navbarr {
    margin: 5px 50px;
}
.navbar {
    top: 5px;
    float: right;
}
.navbar a {
    text-decoration: none;
    font-family: 'Gill Sans', sans-serif;
    color: #FEFCAD;
    text-align: center;
    padding: 14px 14px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  
.navbar a:hover {
    padding: 35px;
    border-bottom: 2px solid red;
    font: 1.2em;
    font-weight: bolder;
    background-color: red;
  }

  .tekstidhebutonatbrendafotos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: fantasy;
      color: #FEFCAD;
      margin-top: 300px;
      margin-left: 100px;
      max-width: 600px;
  }

.info-btn{
    width: 170px;
    background-color: transparent;
    color: #FEFCAD;
    font-weight: bolder;
    font-size: 16px;
    padding: 12px 24px;
    border: 4px solid#FEFCAD;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 10px;
    width: 200px;
  }
  .info-btn:hover {
    background-color: rgba(131, 38, 38, 0.199); 
  }


#testt {
    display: flex;
     justify-content: center;
     margin-top: 20px;   
 }

 .hapesire {
     margin: 250px;
 }
 .Column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 485px;
    border-radius: 15px;
    margin: 0 10px;
    background-color: white;
    border: 2px solid black;
    
} 

.card-header {
    font-size: 22px;
    font-weight: 600;
}

.card-text {
    font-size: 17px;
    font-weight: 400;
    max-width:  250px;
    color: rgb(37, 37, 37);
    padding: 2px 15px;
}

.card-buttons {
    width: 165px;
    height: 40px;
    background-color: white;
    color: rgb(37, 37, 37);
    border-radius: 10px;
    margin-bottom: 15px;
}


.Column2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 240px;
    margin: 0 75px;
    
} 

.card-header2 {
    font-size: 22px;
    font-weight: 600;
}

.card-text2 {
    font-size: 10px;
    font-weight: 400;
    max-width:  240px;
    color: rgb(37, 37, 37);
}

.Column3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    border-radius: 15px;
    margin: 0 10px;
    background-color: white;
    border: 2px solid black;
    
} 

.card-header3 {
    font-size: 22px;
    font-weight: 600;
}

.card-text3 {
    font-size: 17px;
    font-weight: 400;
    max-width:  250px;
    color: rgb(37, 37, 37);
}

footer{
    background-color: red;
    font-family: Tahoma, Arial;
    font-size: 0.7em;
    color: White;
    position: relative;
    height: 3em;
}

.tekstifooter {
text-transform: uppercase;
justify-content: center;
text-align: center;
font-size: 15px;
padding-top: 8px;
}